.navbar{
    width: 100%;
    height: 4vh;
    box-shadow: 0 0 5px deeppink;
}
.navbar > h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.Card{
    width: 30vw;
    height: 50vh;
    box-shadow: 0 0 10px darkblue;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
}
.Card > .image{
    width: 100%;
    height: 80%;
    border: 2px solid gray;
    overflow: hidden;
    position: relative;
}
.Card > .image > img{
    width: 90%;
    height: 120%;

}